<div>
  <div ng-if="store.messages.conversations_view_list(box_type).length == 0" style="padding-top: 20px; padding-bottom: 20px; text-align: center;">Empty</div>
  <table class="table table-hover" style="margin-bottom: 0">
    <tr ng-repeat="conversation in store.messages.conversations_view_list(box_type)" 
        ng-class="{'message_read_0': conversation.unread_count > 0, 'message_read_1': conversation.unread_count == 0}"
        ng-click="SimulateLink($event)"
        href="#/messages/{{box_type}}/{{conversation.other_user_dict.username}}">
      <!--checkbox-->
      <td style="width: 50px; vertical-align: middle;" class="message-select">
        <div class="checkbox">
          <input id="conversation_{{conversation.other_user_guid}}" type="checkbox" ng-model="checked_items[conversation.other_user_guid]">
          <label for="conversation_{{conversation.other_user_guid}}"></label>
        </div>
      </td>

      <!--icon-->
      <td style="width: 125px;">
        <a href="#/user/{{conversation.other_user_dict.username}}">
          <img src="/pg/image/{{conversation.other_user_dict.icon_guid}}?w=100&h=100" class="icon">
        </a>
      </td>

      <td class="message-details">
        <b>{{conversation.other_user_dict.first_name}} {{conversation.other_user_dict.last_name}}
          <span ng-if="conversation.unread_count > 0">({{conversation.unread_count}})</span>
        </b>

        <br>
        <p class="text-muted">                                            
          <span ng-if="conversation.latest_message.is_reply" class="glyphicon glyphicon-share-alt"></span>
          {{conversation.latest_message.message_text}}
        </p>                                  
      </td>

      <td class="message-delete text-muted">
        <div class="message-date">{{conversation.latest_message.message_timestamp | date:'medium'}}</small></div>
      </td>
    </tr>
  </table>

  <style>
    td:not(.message-select)  {
      cursor: pointer;
    }
    td > a > .icon:hover {
      -webkit-box-shadow: 0px 0px 5px 2px rgba(255,224,0,1);
      -moz-box-shadow: 0px 0px 5px 2px rgba(255,224,0,1);
      box-shadow: 0px 0px 5px 2px rgba(255,224,0,1);
    }
  </style>
</div>