<div id="messages" class="whitebox"><!-- start the main messages wrapper div -->
  <h1 class="whitebox-header nav" style="padding-bottom: 0;">
    <ul id="inbox_trash_tabs" style="border-bottom: 0;" class="nav nav-tabs pull-right">
      <li ng-class="{'active': box_type == 'inbox'}" >
        <a class="text-muted" href="#/messages/inbox">
          Inbox ({{store.messages.unread_count()}}) 
        </a>
      </li>
      <li ng-class="{'active': box_type == 'trash'}">
        <a class="text-muted" href="#/messages/trash">Trash</a>
      </li>
    </ul>
    <div id="messages-envelope-header" style="padding-top: 10px;">
      <span class="glyphicon glyphicon-envelope"></span> Messages
    </div>
  </h1>

  <style>
    #inbox_trash_tabs > li.active > a {
      background: #f7f7f7;
    }
    @media (max-width: 450px) {
      #messages-envelope-header {
        display: none;
      }
    }
  </style>

  <div class="message-controls whitebox-subhead">
    <div ng-if="view_type == 'messages'" class="pull-right">
      <a id="send-message-button" class="btn btn-default" style="padding-left: 12px;" ng-click="showSendMessageModal()">
        <i class="fa fa-reply"></i>
      </a>
    </div>    
    <div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-check-square-o">&nbsp;&nbsp;</i><i class="fa fa-caret-down"></i>
        </button>
        <ul id="select-list" class="dropdown-menu" role="menu">
          <li ng-click="select('all')">                                        <a href="javascript:void(0)">All</a></li>
          <li ng-click="select('none')">                                       <a href="javascript:void(0)">None</a></li>
          <li ng-click="select('some')"   ng-if="view_type == 'messages'">     <a href="javascript:void(0)">Some</a></li>
          <li ng-click="select('unread')" ng-if="view_type == 'conversations'"><a href="javascript:void(0)">Unread</a></li>
          <li ng-click="select('read')"   ng-if="view_type == 'conversations'"><a href="javascript:void(0)">Read</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cog"></i>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
        </button>
        <ul id="action-list" class="dropdown-menu" role="menu">
          <li ng-click="action('mark-read')"   ng-if="box_type == 'inbox' && view_type == 'conversations'"><a href="javascript:void(0)">Mark as Read</a></li>
          <li ng-click="action('mark-unread')" ng-if="box_type == 'inbox' && view_type == 'conversations'"><a href="javascript:void(0)">Mark as Unread</a></li>
          <li ng-click="action('move-trash')"  ng-if="box_type == 'inbox'">                                <a href="javascript:void(0)">Move to Trash</a></li>
          <li ng-click="action('move-inbox')"  ng-if="box_type == 'trash'">                                <a href="javascript:void(0)">Move to Inbox</a></li>
          <li ng-click="action('delete')"      ng-if="box_type == 'trash'">                                <a href="javascript:void(0)">Delete Permanently</a></li>
        </ul>
      </div>
    </div>
  </div>   

  <div id="messages-list">
    <conversationlist ng-if="view_type == 'conversations'"></conversationlist>
    <messagelist ng-if="view_type == 'messages'"></messagelist>
  </div>

  <div id="footer-div" class="whitebox-footer">
    <!--
    <div class="pull-right">
      <span class="text-muted page-count">12 / 13</span>&nbsp
      <a class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
      <a class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>

    <div id="rows-select-dropdown" class="btn-group dropup">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        10 Rows &nbsp<span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a>5 Rows</a></li>
        <li><a>10 Rows</a></li>
        <li><a>25 Rows</a></li>
        <li><a>50 Rows</a></li>
      </ul>
    </div><!--btn-group dropup-->

    <button class="btn btn-default" ng-click="scrollToTop()">Top</button>
  </div>
  <span id="find-me"></span>
</div><!--#messages-->