<div>
  <img ng-class="{'hidden': !show_progress_spinner}" style="display: block; margin: 20px auto 20px auto" src="/mod/miigle_theme/graphics/ajax-loader.gif">
  <messagemodal send-to-user-guid="other_user_guid"></messagemodal>
  <div class="whitebox" style="margin: 20px;" ng-repeat="message in store.messages.messages[box_type][other_user_guid]">
    <div class="whitebox-content ng-class: {'message_read_0': !message.is_read}">
      <div class="whitebox-header" style="padding-left: 10px; background: #f7f7f7;">
        <div class="pull-right">
          <small class="message-date">{{message.message_timestamp | date:'medium'}}</small>
        </div>

        <div class="media" style="margin-top: 5px;">
          <div class="pull-left">
            <input class="message-select message-checkbox ng-class: {'hidden': !show_checkboxes}" 
                   id="message_{{message.message_guid}}" 
                   type="checkbox" ng-model="checked_items[message.message_guid]">    
            <label for="message_{{message.message_guid}}"></label>
            <img src="/pg/image/{{message.author_dict.icon_guid}}?w=50&h=50" class="icon">
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="#/user/{{message.author_dict.username}}">{{message.author_dict.first_name}} {{message.author_dict.last_name}}</a></h4>
            <strong class="text-muted">
              <employer work-info-dict="message.author_dict.work_info_dict"></employer>
            </strong>
          </div>                                                  
        </div>
      </div><!--class-header-->

      <div class="whitebox-body">                              
        <p style="font-size: 125%;" ng-bind-html="message.message_text | newlines"></p>
      </div>
    </div><!-- /.class-content -->
  </div><!-- /.class-dialog -->    
</div>