<div class="modal fade modal-message-reply" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="media" style="margin-top: 5px;">
          <div class="pull-left">
            <img src="/pg/image/{{other_user_dict.icon_guid}}?h=50&w=50">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="/pg/miigle#/user/{{other_user_dict.username}}">
                {{other_user_dict.first_name}} {{other_user_dict.last_name}}
              </a>
            </h4>
            <strong class="text-muted">
              <employer work-info-dict="other_user_dict.work_info_dict"></employer>
            </strong>
          </div>                                                  
        </div>
      </div><!--modal-header-->

      <div class="modal-body">                              
        <textarea class="form-control" ng-model="message_body" ng-keypress="watchForKeyCombos($event)"></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-miigle" ng-click="sendMessage()">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>