<div class="ng-cloak">
  <div infinite-scroll="feed.nextPage()" infinite-scroll-disabled="feed.busy || feed.stopped" infinite-scroll-distance="0">
    <!-- item -->
    <div ng-repeat="item in feed.items track by $index" class="item" style="margin-top: 0">
      <searchitem ng-if="root_route == 'search'" item="item"></searchitem>
      <feeditem ng-if="(root_route == 'view') && !(feed_type == 'question' && item.idea.question_community_int == 0)" 
                item="item" feed-type="feed_type"></feeditem>
      <griditem ng-if="(root_route == 'grid') && !(feed_type == 'question' && item.idea.question_community_int == 0)" 
                item="item" feed-type="feed_type"></griditem>
    </div>
    <div ng-show="feed.busy" class="load-busy">
      <i class="fa fa-refresh fa-spin"></i>&nbsp;
      <!--transclusion trollfest!!!!11!-->
      <span ng-transclude></span>
    </div>
  </div>
  <div ng-if="feed.items.length == 0 && feed.stopped" class="item col-md-12" style="margin: 20px 20px 20px 20px">
    No activities found.
    <span ng-if="!feed.params_dict.subject_guid">
      <span ng-if="feed.feed_type == 'search'">
        No profiles or ideas match your query.
      </span>
      <span ng-if="feed.feed_type != 'search'">
        Be the first to act by sharing or cheering an idea.
      </span>
    </span>
  </div>
</div>
