<div class="media padding-bg">
  <a class="pull-left" href="{{item.subject.url}}">
    <img class="media-object" ng-src="{{item.subject.icon_url}}?h=50&w=50" alt="{{item.subject.name}}" style="border-radius: 3px">
  </a>
  <div class="media-body">
    <strong class="media-heading">
      <!--Josh Fester                                         --> <!--added pics for --> <!--Miigle                                            -->
      <a ng-href="{{item.subject.url}}">{{item.subject.name}}</a> {{item.action_string}} <a ng-href="{{item.object.url}}">{{item.object.name}}</a>
    </strong>
    <p>{{item.posted | date: 'medium'}}</p>

    <question    ng-if="feedType == 'question'" item="item"></question>
    <idea        ng-if="(item.directive == 'idea' || item.directive == 'icon') && feedType != 'question'"></idea>
    <ideaimage   ng-if="item.directive == 'image'"></ideaimage>
    <stakeholder ng-if="item.directive == 'stakeholder'"></stakeholder>
    <ideavideo   ng-if="item.directive == 'video'"></ideavideo>
    <user        ng-if="item.directive == 'user'"></user>
    <status      ng-if="item.directive == 'status'"> 
      <ideavideo></ideavideo>
    </status>
    <idearating  ng-if="item.directive == 'idearating'"></idearating>
    <comment     ng-if="item.directive == 'comment'" item="item"></comment>
  </div>
</div>
