<div class="col-md-4 grid-item">
  <div class="thumbnail">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="media thumbnail-header">
            <a class="pull-left" href="{{item.object.url}}">
              <img class="media-object" ng-src="/pg/image/{{item.idea.icon_guid}}?w=50&h=50" alt="{{item.object.name}}" style="border-radius: 3px">
            </a>
            <div class="media-body">
              <cheerbutton class="pull-right" idea-guid="item.idea.guid"></cheerbutton>
              <strong class="media-heading">
                <a ng-href="{{item.object.url}}">{{item.object.name}}</a>
              </strong>
              <p>{{item.idea.location_dict.city}}</p>
            </div>          
        </div>
        <div class="flipper">
            <div class="front">
                <div ng-if="item.idea.image_guids_list.length" 
                  class="video-preview" 
                  style="background-image:url(/pg/image/{{item.idea.image_guids_list[0]}}?w=150&h=150);">
                </div>
                <div ng-if="!item.idea.image_guids_list.length 
                  && item.idea.videos_list.length 
                  && item.idea.videos_list[0].video_type == 'youtube'" 
                  class="video-preview"
                  style="background-image:url(http://img.youtube.com/vi/{{item.idea.videos_list[0].video_id}}/0.jpg);">
                    <img class="play" src="/mod/miigle_theme/graphics/play-video.png" alt="Play">
                </div>
                <div ng-if="!item.idea.image_guids_list.length 
                  && item.idea.videos_list.length 
                  && item.idea.videos_list[0].video_type == 'vimeo'" 
                  class="video-preview"
                  style="background-image:url({{item.idea.video_thumbnail}});">
                    <img class="play" src="/mod/miigle_theme/graphics/play-video.png" alt="Play">
                </div>
                <p ng-if="!item.idea.videos_list.length && !item.idea.image_guids_list.length">{{item.idea.pitch}}</p>
            </div>
            <div class="back"> 
                <div ng-if="item.idea.image_guids_list.length" 
                  class="video-preview" 
                  style="background-image:url(/pg/image/{{item.idea.image_guids_list[0]}}?w=150&h=150);">
                </div>
                <div ng-if="!item.idea.image_guids_list.length 
                  && item.idea.videos_list.length 
                  && item.idea.videos_list[0].video_type == 'youtube'" 
                  class="video-preview"
                  style="background-image:url(http://img.youtube.com/vi/{{item.idea.videos_list[0].video_id}}/0.jpg);">
                </div>
                <div ng-if="!item.idea.image_guids_list.length 
                  && item.idea.videos_list.length 
                  && item.idea.videos_list[0].video_type == 'vimeo'" 
                  class="video-preview"
                  style="background-image:url({{item.idea.video_thumbnail}});">                    
                </div>
                <div class="pitch">
                  <p>{{item.idea.pitch}}</p>
                  <button ng-if="item.idea.videos_list.length" 
                    class="btn btn-default btn-miigle btn-sm" 
                    ng-click="toggleModalVideo(item.idea.videos_list[0].video_id, item.idea.videos_list[0].video_type)">
                    <span class="glyphicon glyphicon-play"></span> Play
                  </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
