<div class="col-md-3" ng-if="root_route != 'grid'">
  <div class="conditional-affix">
    <div class="bg-leftCol" ng-if="feed_type == 'ideas' || root_route == 'view'">
      <ul class="dropdown-search" role="menu" id="cat">
        <li role="category" class="dropdown-list dropdown-header ng-class: {active: category_int_filter == 0}">
          <a href="#/ideafeed/{{root_route}}/{{feed_type}}/0/{{location_filter}}/{{search_term}}">All Categories <span class="glyphicon glyphicon-arrow-right pull-right"></span></a>
        </li>
        <li role="category" class="dropdown-list ng-class: {active: category_int_filter == idea_category_int}" 
            ng-repeat="(idea_category_int, count) in idea_category_counts_dict"
            ng-hide="(count == 0 && !show_all_categories)">
          <a href="#/ideafeed/{{root_route}}/{{feed_type}}/{{idea_category_int}}/{{location_filter}}/{{search_term}}">
            {{idea_categories_dict[idea_category_int]}}<span class="badge pull-right hide">{{count}}</span>
          </a>
        </li>
        <li role="category" class="dropdown-list" ng-click="toggleAllCategories($event)">
          <a href="_blank">
            <span ng-if="show_all_categories">
              Collapse <span class="glyphicon glyphicon-arrow-up pull-right" style="display: block;"></span>
            </span>
            <span ng-if="!show_all_categories">
              Show All <span class="glyphicon glyphicon-arrow-down pull-right" style="display: block;"></span>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bg-leftCol">
      <ul class="dropdown-search" role="menu" id="loc">
        <li role="category" class="dropdown-list dropdown-header ng-class: {active: location_filter == 'all'}">
          <a href="#/ideafeed/{{root_route}}/{{feed_type}}/{{category_int_filter}}/all/{{search_term}}">
            All Locations <span class="glyphicon glyphicon-arrow-right pull-right"></span>
          </a>
        </li>
        <li role="category" class="dropdown-list ng-class: {active: location_filter == location}" 
            ng-repeat="(location, count) in idea_location_counts_dict" >
          <a href="#/ideafeed/{{root_route}}/{{feed_type}}/{{category_int_filter}}/{{location}}/{{search_term}}">
            {{location}}<span class="badge pull-right hide">{{count}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bg-leftCol hidden">
      <div class="page-header">
        <h4>Feature <a href="#collapse" data-toggle="collapse" data-target="#carousel-feature"></a></h4>
      </div>
      <div id="carousel-feature" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-feature" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-feature" data-slide-to="1"></li>
          <li data-target="#carousel-feature" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="" alt="video" width="100%"> 
          </div>
          <div class="item ">
            <img src="" alt="video" width="100%"> 
          </div>
          <div class="item ">
            <img src="" alt="video" width="100%"> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-class="{'col-md-6': root_route == 'view', 'col-md-9': root_route == 'search' || root_route == 'grid'}">  
  <div ng-if="root_route == 'view' || root_route == 'grid'" class="row">
    <statusupdate style="margin-bottom: 15px" status-update-callback="statusUpdateCallback"></statusupdate>
  </div>

  <div class="row">
    <div class="bg-nopadding" ng-class="{'grid-feed': root_route == 'grid'}">
      <div class="page-header padding-bg">
        <h1 ng-if="root_route == 'view' || root_route == 'grid'" id="feed">
            <span class="glyphicon glyphicon-align-justify"></span> Feed
            <div class="btn-group pull-right">
              <a href="#/ideafeed/grid/{{feed_type}}/{{category_int_filter}}/{{location_filter}}/{{search_term}}" 
                 class="btn btn-default" ng-class="{'active': root_route == 'grid'}">
                <span class="glyphicon glyphicon-th"></span> Grid
              </a>
              <a href="#/ideafeed/view/{{feed_type}}/{{category_int_filter}}/{{location_filter}}/{{search_term}}" 
                 class="btn btn-default" ng-class="{'active': root_route == 'view'}">
                <span class="glyphicon glyphicon-th-list"></span> List & Filter
              </a>
            </div>
        </h1>
        <h1 ng-if="root_route == 'search'" id="feed">
          <span class="glyphicon glyphicon-search"></span> Search Result - "{{search_term}}"
        </h1>
      </div>
      <div class="well">
        <span class="icon-action">
          <span ng-repeat="feed_type_dict in feed_type_dict_list">
            <span ng-if="root_route == 'view' || (feed_type_dict.display != 'Following' && feed_type_dict.display != 'Questions')">
              <a href="#/ideafeed/{{root_route}}/{{feed_type_dict.route}}/{{category_int_filter}}/{{location_filter}}/{{search_term}}" 
                 ng-class="{active: feed_type == feed_type_dict.route}"
                 style="padding: 0">{{feed_type_dict.display}}</a>
              <span ng-if="!$last">
                &nbsp;|&nbsp;
              </span>
            </span>
          </span>
        </span>                                    
      </div>
      <div ng-class="{'row grid-row': root_route == 'grid'}">
        <feed>{{feed_loading_text}}</feed>
      </div>    
    </div>
  </div>
</div>

<div ng-if="root_route == 'view' || root_route == 'grid'" class="col-md-3">
  <div class="conditional-affix">
    <div id="beta-sidebar">
      <div id="remaining-todos" class="bg-rightCol" ng-if="remaining_todos">
        <div class="whitebox-header">
          <strong>{{loggedin_user_dict.first_name}}, fulfill your <span>destiny</span>&hellip;</strong>
        </div>
        <ul class="list-group padding-bg">
          <li class="list-group-item">
            <span ng-class="{'completed-todo': todo.profile_image}">
              <i ng-class="{'fa fa-check-circle-o': todo.profile_image, 'fa fa-circle-o': !todo.profile_image}"></i> 
              <a href="#/user/{{loggedin_user_dict.username}}/edit">Add a profile picture</a>
            </span>
          </li>
          <li class="list-group-item">
            <span ng-class="{'completed-todo': todo.has_personas}">
              <i ng-class="{'fa fa-check-circle-o': todo.has_personas, 'fa fa-circle-o': !todo.has_personas}"></i> 
              <a href="#/user/{{loggedin_user_dict.username}}/edit">Select your persona(s)</a>
            </span>
          </li>
          <li class="list-group-item">
            <span ng-class="{'completed-todo': todo.create_bio}">
              <i ng-class="{'fa fa-check-circle-o': todo.create_bio, 'fa fa-circle-o': !todo.create_bio}"></i> 
              <a href="#/user/{{loggedin_user_dict.username}}/edit">Create your bio</a>
            </span>
          </li>
          <li class="list-group-item">
            <span ng-class="{'completed-todo': todo.select_interests}">
             <i ng-class="{'fa fa-check-circle-o': todo.select_interests, 'fa fa-circle-o': !todo.select_interests}"></i> 
              <a href="#/user/{{loggedin_user_dict.username}}/edit">Select your interests</a>
            </span>
          </li>
          <!--
          <li class="list-group-item">
            <span ng-class="{'completed-todo': todo.select_expertise}">
              <i ng-class="{'fa fa-check-circle-o': todo.select_expertise, 'fa fa-circle-o': !todo.select_expertise}"></i> 
              <a href="#/user/{{loggedin_user_dict.username}}/edit">Select Expertise</a>
            </span>
          </li>
          -->     
          <li class="list-group-item">
            <span ng-class="{'completed-todo': todo.post_idea}">
              <i ng-class="{'fa fa-check-circle-o': todo.post_idea, 'fa fa-circle-o': !todo.post_idea}"></i> 
              <a href="#/idea/new">Post an idea</a>
            </span>
          </li>
        </ul>
      </div>

      <div class="bg-rightCol" ng-if="profile_interests.length > 0">
        <div class="whitebox-header">
          <strong>Profile Interests</strong>
        </div>
        <div class="padding-bg">
          Suggested user profiles for you 

          <div class="row" style="margin: 0;">
            <div class="col-md-3" ng-repeat="user in profile_interests | limitTo: 12" style="padding: 3px 3px 3px 3px;"
                 ng-mouseenter="showTooltip($event)"
                 ng-mouseleave="hideTooltip($event)">
              <a href="/pg/miigle#/user/{{user.username}}">
                <img class="center-block img-responsive" src="/pg/image/{{user.icon_guid}}?w=50&h=50" alt="{{user.first_name}} {{user.last_name}}"
                     style="border-radius: 3px;" 
                     data-toggle="tooltip" data-placement="bottom" title="{{user.first_name}} {{user.last_name}}">
              </a>
            </div>
          </div>

          <a class="pull-right" href="/pg/miigle#/profile-interests">See More</a>
          <div class="clearfix"></div>

        </div><!--padding-bg-->
      </div>

      <div class="bg-rightCol"> 
        <div class="whitebox-header">
          <strong>Send a Miigle invitation</strong>
        </div>
        <div class="padding-bg">
          <emailshare ng-controller="MiigleEmailInviteController" body-generator="GenerateEmailBody" subject-generator="GenerateEmailSubject"></emailshare>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="">
              &nbsp;
              <div style="height: 2px; background-color: #ccc; text-align: center">
                <span class="text-muted" style="background-color: white; position: relative; top: -0.7em;">
                  &nbsp;or&nbsp;
                </span>
              </div>
              &nbsp;
            </div>
          </div>
          <twittershare ng-controller="MiigleTwitterInviteController" tweet-generator="GenerateTweet"></twittershare>
        </div>
      </div>

      <div class="bg-rightCol">
        <div class="whitebox-header">
          <strong>Keep up with Miigle</strong>
        </div>
        <div id="social-buttons-div" class="padding-bg">
          <!-- AddThis Follow BEGIN -->
          <!-- AddThis Follow END -->
        </div>
      </div>
    </div>   
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>
