<div class="media">
  <a class="pull-left" href="{{item.object.url}}">
    <img class="media-object" src="/pg/image/{{item.idea.icon_guid}}?w=50&h=50" style="border-radius: 3px">
  </a>
  <div class="media-body">
    {{item.idea.pitch}}
  </div>
</div>
