<div>
  <span ng-repeat="image_guid in item.action_payload">
    <a ng-href="/pg/image/{{image_guid}}">
      <a href="/pg/image/{{image_guid}}" data-lightbox="image-{{image_guid}}">
        <img src="/pg/image/{{image_guid}}?w=100&h=100" style="border-radius: 3px; border: 1px solid #cecece">
      </a>
    </a>
  </span>
</div>