<div class="media padding-bg" style="border-bottom:1px solid #cecece;">
  <div ng-if="item.type == 'object:idea'">
    <a class="pull-left" href="#/idea/{{item.guid}}">
      <img class="media-object" src="/pg/image/{{item.icon_guid}}?h=62&w=62" style="border-radius: 3px; margin-right: 10px">
    </a>
    <div class="media-body">
      <div class="row">
        <div class="col-md-4">
          <h3 class="media-heading">
            <a href="#/idea/{{item.guid}}">{{item.title}}</a>
          </h3>
          <h5>
            <strong>{{item.idea_type}}</strong>
            <span ng-if="item.location_dict">
              <br/><strong>{{item.location_dict.fqcn}}</strong>
            </span>
          </h5>
          <p>{{item.cheer_count}} Cheers</p>
        </div>
        <div class="col-md-8">
          <p>{{item.pitch}}</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="item.type == 'user:miigle_user'">
    <a class="pull-left" href="#/user/{{item.username}}">
      <img class="media-object" src="/pg/image/{{item.icon_guid}}?h=62&w=62" style="border-radius: 3px; margin-right: 10px">
    </a>
    <div class="media-body">
      <div class="row">
        <div class="col-md-4">
          <h3 class="media-heading">
            <a href="#/user/{{item.username}}">{{item.first_name}} {{item.last_name}}</a>
          </h3>

          <h5>
            <span ng-if="item.personas_list.length">
              <strong ng-repeat="persona in item.personas_list">
                {{persona}}<span ng-if="!$last">,</span>
              </strong>
            </span>
            <span ng-if="item.location_dict">
              <br/><strong>{{item.location_dict.fqcn}}</strong>
            </span>
          </h5>

          <p>{{item.followers_list.length}} Followers</p>
        </div>
        <div class="col-md-8">
          <p>{{item.tag_line}}</p>
        </div>
      </div>
    </div>
  </div>
</div>