<div>
  <div ng-repeat="stakeholder_dict in item.stakeholder_dicts" style="margin-top: 5px;">
    <a href="{{stakeholder_dict.url}}">
      <img class="media-object" ng-src="/pg/image/{{stakeholder_dict.icon_guid}}?h=50&w=50" style="display: inline-block; border-radius: 3px">
      <span>{{stakeholder_dict.name}} - {{stakeholder_dict.role}}</span>
    </a>
  </div>
</div>