<div>
  <a href="{{item.object.url}}">
    <img ng-src="{{item.object.icon_url}}?w=50&h=50" style="border-radius: 3px;">
  </a>
  <employer work-info-dict="item.object.work_info_dict"></employer>
</div>


