<div>
  <!--email-->
  <!--only using a form to user jQuery form validation. don't actually submit this-->
  <form id="email-share-form"> 
    <div ng-controller="EmailShareController">
      <div class="input-group form-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control" placeholder="First Name" ng-model="first_name" name="first_name"/>
      </div>

      <div class="input-group form-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <input type="email" class="form-control" placeholder="Email Address" ng-model="email_address" name="email_address"/>
      </div>

      <a id="email-invite-button" ng-click="composeEmail($event)" class="btn btn-default pull-right" href="mailto:replaceemail?body=replacebody&subject=replacesubject">Compose</a>
      <div class="clearfix"></div>
    </div>
  </form>
</div>