<div class="fileupload-buttonbar" data-file-upload="options">
  <style>
    #icon-preview-div canvas {
      display: block;
      margin: 0 auto 28px auto;
    }
  </style>
  <!--blugh hack-->
  <div ng-if="idea && idea.image_guids_list && !!show_image_list" class="icon-avator" 
       ng-repeat="(image_list_index, image_guid) in idea.image_guids_list">
      <button type="button" class="close" aria-hidden="true"
              ng-click="deleteImage(image_guid)">&times;</button>
      <img ng-src="/pg/image/{{image_guid}}?w=100&h=100" class="avator">
  </div>

  <div id="icon-preview-div" class="icon-avator" style="margin-bottom: 0">
    <img ng-if="show_idea_icon" 
         src="/pg/image/{{idea.icon_guid}}?w=100&h=100" class="avator" style="max-height: 100px">
    <img ng-if="!show_idea_icon && icon_guid" 
         src="/pg/image/{{icon_guid}}?w=100&h=100" class="avator" style="max-height: 100px">
  </div>
  <span class="button-action" style="margin-top: 20px">
    <!--
    <button type="button" class="btn btn-default fileinput-button">
      <span class="glyphicon glyphicon-plus"></span> Browse
    </button>
    -->
    <input id="{{input_id}}" type="file" accept="image/*" name="{{input_name}}" 
           style="margin-left: auto; margin-right: auto; display: inline-block;"/>
  </span>
  <span class="textline">Preferably at least 250px by 250px.<br/>JPG, GIF, or PNG</span>
</div>