<div class="row wire_add">
  <div class="col-md-12" ng-controller="StatusUpdateController">
    <div class="whitebox">
      <div class="whitebox-body">
        <div class="row">
          <div class="col-md-10">
            <textarea class="form-control" rows="1" placeholder="Post an update to your followers..."
                      ng-model="status"></textarea>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-miigle btn-large btn-block"
                    ng-click="postStatus()">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  