<div>
  <!-- twitter -->
  <!--only using a form to user jQuery form validation. don't actually submit this-->
  <form id="twitter-share-form">
    <div ng-controller="TwitterShareController">
      <div class="input-group form-group"
           ng-class="{fhidden: !startupName}">
        <span class="input-group-addon">
          <i class="fa fa-twitter"></i>
        </span>
        <input type="text" class="form-control" placeholder="Enter @Handle" ng-model="twitter_handle" name="twitter_handle"/>
        <div class="clearfix"></div>
      </div>
      <button class="btn btn-default pull-right" ng-click="composeTweet($event)">Tweet</button>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
