<div class="whitebox ng-cloak">
  <div class="whitebox-body">        
    <ul id="edit-profile-tabs" class="nav nav-tabs">
      <li class="active" ng-click="transitionTabs($event)"> 
        <a href="#personal" data-toggle="tab">Personal Info</a>
      </li>
      <li ng-click="transitionTabs($event)"> 
        <a href="#contact" data-toggle="tab">Contact Info</a>
      </li>
      <li ng-click="transitionTabs($event)"> 
        <a href="#education" data-toggle="tab">Education &amp; Work Info</a>
      </li>
      <li ng-click="transitionTabs($event)"> 
        <a href="#account" data-toggle="tab">Account</a>
      </li>
    </ul>
    
    <form id="profile-edit-form" class="fileupload">
      <div class="tab-content">
        &nbsp; <!--disgusting padding-->
        <div class="tab-pane active" id="personal">
          <div class="row">
            <div class="col-md-4">
              <div style="margin-bottom: 20px" id="blow-me">
                <!--put id and name-->
                <imageupload icon-guid="{{user_dict.icon_guid}}" ng-controller="ImageUploadController" input-id="user-icon-input" input-name="user_icon"></imageupload>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Bruce" ng-model="user_dict.first_name" required/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Wayne" ng-model="user_dict.last_name" required/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="user-location-input" class="control-label">Location</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-globe"></i>
                      </span>
                      <input id="user-location-input" name="user_location" class="typeahead form-control" 
                             type="text" placeholder="Gotham City" ng-value="user_dict.location_dict.fqcn"/>
                    </div>
                  </div> 
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Gender</label>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-fw ng-class: {'fa-female': user_dict.gender_int==1, 'fa-male': user_dict.gender_int==0}"></i>
                      </span>
                      <select class="form-control" ng-model="user_dict.gender_int">
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div><!--//.row-->                    
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Personas</label><br/>
                    <buttoncheckbox active-class="'btn-miigle-light'" checked="persona_dict.Entrepreneur">Entrepreneur</buttoncheckbox>
                    <buttoncheckbox active-class="'btn-miigle-light'" checked="persona_dict.Investor">Investor</buttoncheckbox>
                    <buttoncheckbox active-class="'btn-miigle-light'" checked="persona_dict.Professional">Professional</buttoncheckbox>
                    <buttoncheckbox active-class="'btn-miigle-light'" checked="persona_dict.Mentor">Mentor</buttoncheckbox>
                    <buttoncheckbox active-class="'btn-miigle-light'" checked="persona_dict['Beta User']">Beta User</buttoncheckbox>
                  </div>
                </div>
              </div>
            </div><!--//.col-md-8-->
          </div><!--//.row-->

          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="tagline">Tag Line <small class="text-muted">(140 characters)</small></label>
                    <small id="idea-pitch-character-count" class="character-counter pull-right" style="top: 10px">{{user_dict.tag_line.length}}/140</small>
                    <textarea id="tagline" name="tagline" class="form-control" placeholder="I am the protector of Gotham City." 
                              ng-model="user_dict.tag_line" maxlength="140"></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="bio">Extended Bio</label>
                <textarea class="form-control" placeholder="I swore an oath to rid the city of the evil. I spent my youth traveling the world, training myself to intellectual and physical perfection and learning a variety of crime-fighting skills." 
                ng-model="user_dict.bio" rows="20"></textarea>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Interests</label>
                <div ng-repeat="(category_int, category_name) in idea_categories">
                  <buttoncheckbox active-class="'btn-miigle-light'" checked="user_interests_dict[category_int]" 
                                  style="display: block; padding-top: 5px">{{category_name}}</buttoncheckbox>
                </div>
              </div>
            </div>
          </div>

        </div><!--//#personal -->

        <div class="tab-pane" id="contact">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email-address" class="control-label">Email Address</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-envelope"></i>
                  </span>
                  <input id="email-address" class="form-control" type="email"
                         ng-value="user_dict.contact_info_dict.email_address" disabled/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone-input" class="control-label">Phone Number <small class="text-muted">(digits only)</small></label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-phone"></i>
                  </span>
                  <input id="phone-input" class="form-control" type="tel" 
                         ng-model="user_dict.contact_info_dict.phone_number"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="twitter-input" class="control-label">Twitter Handle</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-twitter"></i>
                  </span>
                  <input id="twitter-input" class="form-control" type="text"
                         ng-model="user_dict.contact_info_dict.twitter_handle"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" class="control-label">
                <label for="facebook-input">Facebook URL</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-facebook"></i>
                  </span>
                  <input id="facebook-input" class="form-control" type="url" 
                         ng-model="user_dict.contact_info_dict.facebook_url"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="googleplus-input" class="control-label">Google+ URL</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </span>
                  <input id="googleplus-input" class="form-control" type="url"
                         ng-model="user_dict.contact_info_dict.googleplus_url"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="linkedin-input" class="control-label">LinkedIn URL</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </span>
                  <input id="linkedin-input" class="form-control" type="url"
                         ng-model="user_dict.contact_info_dict.linkedin_url"/>
                </div>
              </div>
            </div>
          </div><!--//.row -->
        </div><!--//#contact -->

        <div class="tab-pane" id="education">
          <div class="page-header">
            <h3>Work</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="current-title">Current Title</label>
                <input id="current-title" class="form-control" placeholder="Assistant to the regional manager"
                       type="text" ng-model="user_dict.work_info_dict.current_title"/>
              </div>
              <div class="form-group">
                <label for="employer-website">Company Website</label>
                <input id="employer-website" class="form-control" placeholder="http://dundermifflin.com"
                       type="url" ng-model="user_dict.work_info_dict.current_employer_website"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="current-employer">Current Employer</label>
                <input id="current-employer" class="form-control" placeholder="Dunder Mifflin"
                       type="text" ng-model="user_dict.work_info_dict.current_employer"/>
              </div>
              <div class="form-group">

                <label>Areas of Expertise</label><br/>
                  <buttoncheckbox checked="user_expertise_dict[expertise_int]" ng-repeat="(expertise_int, expertise) in expertise_dict" 
                                  factive-class="GetExpertiseIntClass(expertise_int)" 
                                  active-class="'btn-miigle-light'" 
                                  style="display: inline-block; margin-right: 5px; margin-top: 5px">{{expertise}}</buttoncheckbox>
              </div>
            </div>
          </div><!--//.row -->
          <div class="page-header">
            <h3>Education</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="school">School</label>
                <input id="school" class="form-control" type="text" 
                       ng-model="user_dict.education_info_dict.school"/>
              </div>
              <div class="form-group">
                <label for="studied">Areas of Study</label>
                <input id="studied" class="form-control" type="text" 
                       ng-model="user_dict.education_info_dict.studied"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="degree">Degree</label>
                <input id="degree" class="form-control" type="text" placeholder="BA, BS, PhD, etc"
                       ng-model="user_dict.education_info_dict.degree"/>
              </div>
              <div class="form-group">
                <label for="graduated" class="control-label">Class of</label>
                <input id="graduated" name="graduated" class="form-control" type="text" 
                       ng-model="user_dict.education_info_dict.graduated"/>
              </div>
            </div>
          </div><!--//.row -->
        </div><!--//#education -->

        <div class="tab-pane" id="account">
          <div class="row">
            <div class="col-md-6">
              <div class="page-header">
                <h4>Change Password</h4>
              </div>
              <div id="change-password-div" class="form-group">
                <div class="form-group input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                  <input type="password" class="form-control" id="current_password" name="password"
                         placeholder="Current Password" required/>
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                  <input id="password1-input" type="password" name="password1" class="form-control" placeholder="New Password" required minlength="4"/>        
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                  <input id="password2-input" type="password" name="password2" class="form-control" placeholder="Confirm Password" required minlength="4"/>       
                </div>
              </div>
              <button id="change-password-button" class="btn btn-default btn-miigle" ng-click="changePassword()">Change Password</button>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="username">
                  Username
                </label>
                <input type="text" id="username" name="username" class="form-control" ng-model="user_dict.username" disabled/>
              </div>

              <!--
              <label>Facebook</label><br/>
              <img src="/mod/miigle_theme/graphics/facebook_icon.svg" style="width: 35px; height: auto;">
              Connected as <a href="http://www.google.com">{{user_dict.first_name}} {{user_dict.last_name}}</a>
              <br/>
              <br/>

              <label>LinkedIn</label><br/>
              <img src="/mod/miigle_theme/graphics/linkedin_icon.png" style="width: 35px; height: auto;">
              Connected as <a href="http://www.google.com">{{user_dict.first_name}} {{user_dict.last_name}}</a>
              <br/>
              -->
            </div>
          </div>
        </div>
      </div><!--//.tab-content -->
    </form>

    <div class="form-group hide-profile">
        <input type="checkbox" ng-model="user_dict.hide_profile"/> Only show my email address and phone number to users whom I follow
    </div>

    <img id="ajax-spinner" src="/mod/miigle_theme/graphics/ajax-loader.gif" class="hidden pull-right"/>
    <button class="btn btn-default btn-miigle pull-right" ng-click="continue()" ng-if="next_tab_href">Continue</button>
    <a href="#/user/{{user_dict.username}}" class="btn btn-default pull-right" ng-click="submitProfile()" style="margin-right: 5px">{{save_button_text}}</a>

    <div class="clearfix"></div>

  </div><!--//.whitebox-body -->
</div><!--//.whitebox -->

<style>
  #change-password-div div.input-group {
    margin-bottom: 5px;
  }
</style>
