<span>
  {{workInfoDict.current_title}} 
  <span ng-if="workInfoDict.current_employer">
    at <a href="{{workInfoDict.current_employer_website}}" target="_blank">{{workInfoDict.current_employer}}</a>
  </span>
</span>
