<style>
  #profile-sidebar-div > .row {
    margin-bottom: 20px;
  }
</style>

<div ng-cloak>
  <div id="profile-sidebar-div" class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <img class="icon" src="/pg/image/{{user_dict.icon_guid}}?w=250&h=250"
             style="display: block; margin: 0 auto;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a ng-if="user_dict.guid == viewing_user_dict.guid" 
           href="#/user/{{user_dict.username}}/edit"
           class="btn btn-default btn-lg btn-block">
          <span class="glyphicon glyphicon-pencil"></span> Edit Profile
        </a>

        <span ng-if="user_dict.guid != viewing_user_dict.guid">
          <a ng-if="mutual_followers" ng-click="showSendMessageModal()"
             id="send-message-button" data-toggle="modal" 
             class="btn btn-default btn-lg btn-block"
             style="margin-bottom: 5px">Message Me
          </a>        
          <messagemodal send-to-user-guid="user_dict.guid"></messagemodal>

          <button ng-if="viewing_user_dict.guid != 0"
                  class="btn btn-ajax btn-default btn-lg btn-block" 
                  ng-click="toggleFollow()" 
                  ng-bind="follow_button_text">
          </button>
        </span>
      </div>
    </div>

    <div class="row" ng-if="user_dict.interests_list.length > 0">
      <div class="col-md-12">
        <div class="whitebox">
          <div class="whitebox-header">
            <h2>Interests</h2>
          </div>
          <div class="whitebox-body">
            <!--broken-->
            <span class="label label-muted" ng-repeat="category_int in user_dict.interests_list"
                  style="margin-right: 3px; display: inline-block;">{{idea_categories[category_int]}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="has_social_networks">
      <div class="col-md-12">
        <div class="whitebox">
          <div class="whitebox-header">
            <h2>Social Networks</h2>
          </div>
          <div class="whitebox-body" style="text-align: center">
            <a class="btn btn-default" ng-if="user_dict.contact_info_dict.twitter_handle != ''" 
               href="//twitter.com/{{user_dict.contact_info_dict.twitter_handle.substring(1)}}"
               target="_blank">
              <i class="fa fa-fw fa-twitter"></i>
            </a>            
            <a class="btn btn-default" ng-if="user_dict.contact_info_dict.facebook_url != ''" 
               href="{{user_dict.contact_info_dict.facebook_url}}" target="_blank">
              <i class="fa fa-fw fa-facebook"></i>
            </a>                    
            <a class="btn btn-default" ng-if="user_dict.contact_info_dict.linkedin_url != ''"
               href="{{user_dict.contact_info_dict.linkedin_url}}" target="_blank">
              <i class="fa fa-fw fa-linkedin"></i>
            </a>                        
            <a class="btn btn-default" ng-if="user_dict.contact_info_dict.googleplus_url != ''"
               href="{{user_dict.contact_info_dict.googleplus_url}}" target="_blank">
              <i class="fa fa-fw fa-google-plus"></i>
            </a>                        
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="user_dict.ideas_list.length > 0">
      <div class="col-md-12">
        <div class="whitebox">
          <div class="whitebox-header">
            <h2>Stakeholdings</h2>
          </div>
          <div class="whitebox-body">
            <div ng-repeat="($index, idea) in user_stakeholding_list">
              <a href="#/idea/{{idea.guid}}" style="float: left; padding-right: 5px">
                <img src="/pg/image/{{idea.icon_guid}}?w=50&h=50">
              </a>
              <a href="#/idea/{{idea.guid}}">
                  {{idea.title}} 
              </a>
              <span ng-if="idea.user_role">- {{idea.user_role}}</span>
              <hr ng-if="$index+1 != user_stakeholding_list.length" />
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="profile-body-div" class="col-md-9">
    <div id="profile_view">
      <div>
        <span class="pull-right text-muted">
          <sharebutton class="hidden" ng-click="toggleShare()"></sharebutton>
          <span ng-if="user_dict.location_dict.fqcn">
            <span class="glyphicon glyphicon-map-marker"></span>
            {{user_dict.location_dict.fqcn}}
          </span>
        </span>
        <h1>
          {{user_dict.first_name}} {{user_dict.last_name}}
        </h1>
      </div>

      <div>
        <h6>
          <span ng-repeat="($index, persona) in user_dict.personas_list">
            <p style="display: inline;">{{persona}}</p>
            <span ng-if="$index != user_dict.personas_list.length - 1">
            &nbsp;•&nbsp;
            </span>
          </span>
        </h6>
        <h5 ng-if="user_dict.tag_line" style="padding-bottom: 10px;">{{user_dict.tag_line}}</h5>
      </div>


      <div id="ideas-miigled-modal" class="modal fade" role="dialog" tabindex="-1" ng-click="linkFromModal($event)">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div ng-repeat="($index, idea) in user_stakeholding_list">
                <a href="#/idea/{{idea.guid}}" style="float: left; padding-right: 5px">
                  <img src="/pg/image/{{idea.icon_guid}}?w=50&h=50">
                </a>
                <a href="#/idea/{{idea.guid}}">
                    {{idea.title}} 
                </a> - {{idea.pitch}}
                <span ng-if="idea.user_role">- {{idea.user_role}}</span>
                <hr ng-if="$index+1 != user_stakeholding_list.length" />
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->      

      <div id="ideas-cheered-modal" class="modal fade" role="dialog" tabindex="-1" ng-click="linkFromModal($event)">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div ng-repeat="($index, idea) in user_cheering_idea_list" style="padding-bottom: 5px;">
                <a href="#/idea/{{idea.guid}}" style="float: left; padding-right: 5px">
                  <img src="/pg/image/{{idea.icon_guid}}?w=50&h=50">
                </a>
                <a href="#/idea/{{idea.guid}}">
                    {{idea.title}} 
                </a> - {{idea.pitch}}
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->     

      <div id="followers-modal" class="modal fade" role="dialog" tabindex="-1" ng-click="linkFromModal($event)">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div ng-repeat="($index, user) in user_followers_list" style="padding-bottom: 5px;">
                <div class="media">
                  <a href="#/user/{{user.username}}" class="pull-left">
                    <img src="/pg/image/{{user.icon_guid}}?h=50&w=50" class="media-object" style="border-radius: 3px">
                  </a>
                  <div class="media-body">
                    <div style="display: inline-block; vertical-align: middle">
                      <a href="#/user/{{user.username}}" style="display: block;">
                        {{user.first_name}} {{user.last_name}}
                      </a>
                      <!--FUCK CSS-->
                      <span style="font-size: 12px">
                        <span style="display: block;">{{user.work_info_dict.current_title}}</span>
                        <span ng-if="user.work_info_dict.current_employer">
                          <a href="{{user.work_info_dict.current_employer_website}}" target="_blank">{{user.work_info_dict.current_employer}}</a>
                        </span>
                      </span>
                      <!--FUCK CSS-->
                    </div>
                  </div>
                </div>
              </div>
            <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->      

      <div id="following-modal" class="modal fade" role="dialog" tabindex="-1" ng-click="linkFromModal($event)">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div ng-repeat="($index, user) in user_following_list" style="padding-bottom: 5px;">
                <div class="media">
                  <a href="#/user/{{user.username}}" class="pull-left">
                    <img src="/pg/image/{{user.icon_guid}}?h=50&w=50" class="media-object" style="border-radius: 3px">
                  </a>
                  <div class="media-body">
                    <div style="display: inline-block; vertical-align: middle">
                      <a href="#/user/{{user.username}}" style="display: block;">
                        {{user.first_name}} {{user.last_name}}
                      </a>
                      <!--FUCK CSS-->
                      <span style="font-size: 12px">
                        <span style="display: block;">{{user.work_info_dict.current_title}}</span>
                        <span ng-if="user.work_info_dict.current_employer">
                          <a href="{{user.work_info_dict.current_employer_website}}" target="_blank">{{user.work_info_dict.current_employer}}</a>
                        </span>
                      </span>
                      <!--FUCK CSS-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      
      <div class="stats_border">
        <div class="row stats">
          <div class="col-xs-6 col-sm-3">
            <a data-toggle="modal" class="stat" data-target="#ideas-miigled-modal">
              <p class="text-muted number">{{user_dict.ideas_list.length}}</p>
              <p><strong>Ideas Miigled</strong></p>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a class="stat" data-toggle="modal" data-target="#ideas-cheered-modal">
              <p class="text-muted number">{{user_dict.cheering_list.length}}</p>
              <p><strong>Ideas Cheered</strong></p>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a class="stat" data-toggle="modal" data-target="#followers-modal">
              <p class="text-muted number">{{user_dict.followers_list.length}}</p>
              <p><strong>Followers</strong></p>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3">            
            <a class="stat" data-toggle="modal" data-target="#following-modal">
              <p class="text-muted number">{{user_dict.following_list.length}}</p>
              <p><strong>Following</strong></p>
            </a>
          </div>
        </div>
      </div>

      <div class="row details">
        <div class="col-md-12">
          <div class="panel-group" id="details_accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle text-muted" 
                     data-toggle="collapse" 
                     data-parent="#details_accordion" 
                     data-shown="Collapse Details" 
                     data-hidden="Expand Details" 
                     href="_blank">
                    <span class="glyphicon glyphicon-arrow-up"></span> <span class="text">Collapse Details</span> <span class="glyphicon glyphicon-arrow-up"></span>
                  </a>
                </h4>
              </div>
              <div id="details_panel" class="panel-collapse collapse in">
                <div class="panel-body text-muted">
                  <h2 ng-if="user_dict.bio">About Me</h2>
                  <span ng-bind-html="user_dict.bio | newlines"></span>

                  <h2 ng-if="user_dict.contact_info_dict.email_address">Email</h2>
                  <a href="mailto:{{user_dict.contact_info_dict.email_address}}">{{user_dict.contact_info_dict.email_address}}</a>

                  <h2 ng-if="user_dict.contact_info_dict.phone_number">Phone Number</h2>
                  {{user_dict.contact_info_dict.phone_number}}

                  <h2 ng-if="user_dict.work_info_dict.current_title">Occupation</h2>
                  <employer work-info-dict="user_dict.work_info_dict"></employer>

                  <h2 ng-if="show_education">Education</h2>
                  {{user_dict.education_info_dict.degree}} 
                  <span ng-if="user_dict.education_info_dict.studied">in {{user_dict.education_info_dict.studied}}</span>
                  <span ng-if="user_dict.education_info_dict.school">at {{user_dict.education_info_dict.school}}</span>
                  <span ng-if="user_dict.education_info_dict.graduated">Class of {{user_dict.education_info_dict.graduated}}</span>

                  <h2 ng-if="user_dict.work_info_dict.expertise_list.length > 0">Skills & Expertise</h2>
                  <span class="label label-muted" ng-repeat="expertise in user_dict.work_info_dict.expertise_list">{{expertise | ExpertiseIntToString}}</span>
                </div>
              </div>
            </div><!--//.panel -->
          </div><!--//.panel-group -->
        </div><!--//.col-md-12 -->
      </div>

      <statusupdate ng-if="user_dict.guid == viewing_user_dict.guid"
                    status-update-callback="statusUpdateCallback"></statusupdate>

      <div class="row view_river_items">
        <div class="col-md-12">
          <div class="whitebox">
            <div class="whitebox-header">
              <h2><span class="glyphicon glyphicon-bullhorn"></span>{{user_dict.first_name}}'s Activity Board</h2>
            </div>
            <feed ng-controller="UserFeedController" ng-init="init(user_dict.guid)">Loading {{user_dict.first_name}}'s recent activity</feed>
          </div><!--//.whitebox -->        
        </div><!--//.col-md-12 -->
      </div><!--//.row .view_river_items -->
    </div>
  </div>
</div>
