/*----------------------------------------------------------------
 * 
 * 	Global
 * 
 -----------------------------------------------------------------*/

html, body {
	height:100%;
}
body {
	background:#f7f7f7;
	overflow-x:hidden;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
strong, b, h1, h2, h4, h5, h6 {
  font-weight:500;  
}
h3 {
  font-weight:300; 
}
.btn {
  font-weight:300;
}
.navbar-inverse {
	background:#1e1e1e;
}
.navbar-btn {
	margin-left:15px;
	margin-top:27px;
}
.btn-danger {
	background:e34936;
}
.btn-default.btn-inverse {
	background:#1e1e1e;
	color:white;
}
h3.text-muted {
	font-size:18px;
	margin-bottom:20px;
}
.modal-header {
	text-align:center;
}
.modal-header h3 {
	font-size:26px;
}
.modal-header h4 {
	font-size:16px;
}
section {
	width:100%;
	background-size:cover;
}
section .container {
	padding-top:20px;
	padding-bottom:20px;
}
label.error {
	color:#b94a48;
	font-style:italic;
	font-weight:normal;
}
.text-muted {
	color:#777;
}
.btn-default.btn-miigle {
	background:#fedd32;
}

.btn-default.btn-miigle:hover {
	background:#F2D229;
}
.carousel-fade .item {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  left: 0 !important;
}
.carousel-fade .active {
  opacity: 1 !important;
  left: 0 !important;
}
.carousel-fade .item.left {
  opacity: 0 !important;
  -webkit-transition: opacity .6s linear !important;
  -moz-transition: opacity .6s linear !important;
  -ms-transition: opacity .6s linear !important;
  -o-transition: opacity .6s linear !important;
  transition: opacity .6s linear !important;
  left: 0 !important;
}
.ajax-loader {
	display:none;
}
form.success {
	text-align:center;
}
form.success .glyphicon-ok {
	font-size:40px;
	color:green;
}
.yellow {
    color:#fedd32;
}
@media (min-width:768px) { 
	section .container {
		padding-top:60px;
		padding-bottom:60px;
	}
	h3.text-muted {
		margin-bottom:50px;
	}
}

/*----------------------------------------------------------------
 * 
 * 	Splash section
 * 
 -----------------------------------------------------------------*/

span#darken {
    display: block;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: rgba(0,0,0,.75);
}
section#splash {
	background-image:url('/mod/miigle_theme/homepage1.jpg');
	position:relative;
	min-height:100%;
    text-align:center;
}
section#splash .container {
	padding-top:120px;
}
section#splash .preview {
	left: 50%;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 10%;
	font-size: 24px;
}
section#splash .preview .media {
	position: relative;
	left: -50%;
}

@media (max-width: 768px) {
    section#splash .preview {
        display: none;
    }
}

section#splash .jumbotron {
	background:none;
	padding:0 0 0 15px;
}
section#splash .jumbotron h1 {
	font-size:40px;
	margin-bottom:0;
    color:white;
}
section#splash .jumbotron p {
	margin-top:20px;
    max-width:700px;
    margin:40px auto;
    color:white;
}
section#splash #btn-scroll-wrapper {
	position:absolute;
	bottom:50px;
	width:100%;
	text-align:center;
}
section#splash #btn-scroll {
	width:100px;
	height:100px;
	display:inline-block;
	padding:8px 13px 10px 10px;
	font-size:50px;
	border-radius:100px;
	background:#999;
	opacity:0.8;
	text-align:center;
	color:#111;
}
section#splash #btn-scroll:hover {
	text-decoration:none;
	opacity:1;
	background:#fedd32;
}
section#splash #btn-scroll {
  -webkit-transition: opacity .6s, background .6s;
  -moz-transition: opacity .6s, background .6s;
  -ms-transition: opacity .6s, background .6s;
  -o-transition: opacity .6s, background .6s;
  transition: opacity .6s, background .6s;
}
section#splash #btn-scroll h5 {
	margin:15px 0 0 0;
}
section#splash #btn-scroll img {
	width: 45px;
	display: inline-block;
	margin-top: -30px;
}
@media (min-width:768px) { 
	section#splash .container {
		padding-top:160px;
	}
	section#splash .jumbotron p {
		margin-top:40px;
	}
	section#splash .jumbotron h1 {
		font-size:60px;
	}
}

/*----------------------------------------------------------------
 * 
 * 	How it Works section
 * 
 -----------------------------------------------------------------*/

section#how {
	background:white;
}
section#how h2,
section#how h3,
section#how h4 {
	text-align:center;
}
section#how h4 {
	margin-top:20px;
}
section#how .carousel {
	margin-bottom:15px;
}
section#how .carousel-inner {
	background-image:url('/mod/miigle_theme/graphics/macbook.jpg');
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
}
section#how .carousel-inner>.item {
	text-align:center;
}
section#how .carousel-inner>.item>img, 
section#how .carousel-inner>.item>a>img {
	display:inline;
	max-height:52%;
}
section#how .carousel-control {
	bottom:auto;
	width:50px;
	height:50px;
	padding:9px 0 0 5px;
	text-align:center;
	border-radius:50px;
	color:#333;
	text-shadow:none;
	top:40%;
	opacity:0.8;
	-webkit-transition:all .6s;
    -moz-transition:all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s;
}
section#how .carousel-control:hover {
	opacity:1;
}
section#how .carousel-control.left {
	background:#ececec;
	padding-right:5px;
	padding-left:0px;
}
section#how .carousel-control.right {
	background:#ffe04c;
}
section#how .custom-caption {
	text-align:center;
	border-radius:5px;
	border:1px solid transparent;
	margin:10px;
	padding:10px;
	position:relative;
	-webkit-transition:all .6s;
    -moz-transition:all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s;
}
section#how .custom-caption.active,
section#how .custom-caption:hover {
	background:#fffbe5;
	border-color:#e0dfda;
}
section#how .custom-caption.active .text-muted {
	color:#333;
}
section#how .custom-caption:hover {
	cursor:pointer;
}
section#how .custom-caption:hover span,
section#how .custom-caption.active span {
	background:#ffe04c;
}
section#how .custom-caption span {
	text-align:center;
	border:2px solid #333;
	background:#ececec;
	font-weight:500;
	color:#333;
	width:30px;
	height:30px;
	border-radius:30px;
	line-height:28px;	
	display:inline-block;
	position:absolute;
	top:-15px;
	-webkit-transition:all .6s;
    -moz-transition:all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s;
}
@media (min-width:768px) {
	section#how .carousel {
		margin-bottom:50px;
	}
}
@media (min-width:1600px) {
	section#how .carousel-inner>.item>img, 
	section#how .carousel-inner>.item>a>img {
		max-height:none;
	}
}


/*----------------------------------------------------------------
 * 
 * 	Video section
 * 
 -----------------------------------------------------------------*/

section#video {
	height:60%;
	background-image:url('/mod/miigle_theme/graphics/home-water.jpg');
	text-align:center;
	color:white;
}
section#video .container {
	padding:0;
}
section#video h2 {
	font-size:40px;
}
section#video .overlay {
	padding-top:15%;
}
.btn-play img {
	-webkit-transition:all .6s;
    -moz-transition:all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s;
}
.btn-play:hover img {
	filter: brightness(0);
	-webkit-filter: brightness(0);
}
section#splash .btn-play:hover img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.btn-play {
  -webkit-transition: color .6s;
  -moz-transition: color .6s;
  -ms-transition: color .6s;
  -o-transition: color .6s;
  transition: color .6s;
}
section#video iframe {
	display:none;
}

/*----------------------------------------------------------------
 * 
 * 	Team section
 * 
 -----------------------------------------------------------------*/

section#team {
	text-align:center;
	background:white;
}
section#team img {
	height:170px;
	border-radius:170px;
}
section#team .person {
	border-radius:5px;
	border:1px solid transparent;
	padding:15px;
}
section#team .person,
section#team .person img {
	-webkit-transition:all .6s;
    -moz-transition:all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s;
}
section#team .person:hover {
	background:#fffbe5;
	border-color:#e0dfda;
}
section#team .person:hover img {
	-webkit-filter: grayscale(1); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	filter: gray; filter: grayscale(100%);
	filter: url('/mod/miigle_theme/graphics/desaturate.svg#greyscale');
}

.margin-bottom-20 {
margin-bottom: 20px;
}

/*----------------------------------------------------------------
 * 
 * 	Contact section
 * 
 -----------------------------------------------------------------*/

section#contact {
	background:white;
}
section#contact h2,
section#contact h3 {
	text-align:center;
}
section#contact .input-group-addon {
	background:white;
}
section#contact .input-group .form-control {
	border-left:none;
}
section#contact .submit h3 {
	text-align:left;
}
body .noUi-handle {
	background:#fedd32;
	margin-top: -13px;
	border-radius: 40px;
	cursor:pointer;
}
body .noUi-background {
	background:#333;
}
body .noUi-origin {
	background:#DDD;
}
body .noUi-base {
	height:20px;
	margin-top:10px;
}
@media (min-width:768px) {
	section#contact .submit h3 {
		text-align:right;
		margin-top: 10px;
	}
}

/*----------------------------------------------------------------
 * 
 * 	News
 * 
 -----------------------------------------------------------------*/

section#news header {
	text-align:center;
}
section#news h2 {
	margin-bottom:30px;
}
section#news a h2 {
	margin-bottom:30px;
}
section#news a {
	margin:20px 40px;
	padding:20px;
	background:white;
	display:block;
	color:#777;
	border-radius:5px;
	font-size:13px;	
	-webkit-transition: background .6s;
  -moz-transition: background .6s;
  -ms-transition: background .6s;
  -o-transition: background .6s;
  transition: background .6s;
}
section#news a:hover {
	background:#fffbe5;
	text-decoration:none;
}
section#news a h3 {
	color:#333;
	font-size:14px;
	margin-top:0;
}
section#news a h4 {
	font-size:13px;
}
section#news .year {
	width:60px;
	height:60px;
	border-radius:60px;
	line-height:60px;
	background:#fedd32;
	display:inline-block !important;
	font-weight:500;
}
@media (min-width:768px) {
	section#news .right-side {
		padding-top:75px;
	}
	section#news a {
		position:relative;
		z-index:1;
	}
	section#news a .arrow {
		background:white;
		width:40px;
		height:40px;
		position:absolute;
		border-radius:5px;
		z-index:-1;
		margin-top:23px;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg); 
		-webkit-transition: background .6s;
	  -moz-transition: background .6s;
	  -ms-transition: background .6s;
	  -o-transition: background .6s;
	  transition: background .6s;
	}
	section#news a:hover .arrow {
		background:#fffbe5;
	}
	section#news .left-side a .arrow {
		right:-18px;
		
	}
	section#news .right-side a .arrow {
		left:-18px;
	}
	section#news .left-side a:before {
		content:'';
		position:absolute;
		right:-69px;
		margin-top:30px;
		height:30px;
		width:30px;
		border-radius:30px;
		background:#d3d3d3;
		z-index:1;
	}
	section#news .left-side a:hover:before {
		background:#fedd32;
	}
	section#news .left-side a:before {
	  -webkit-transition: background .6s;
	  -moz-transition: background .6s;
	  -ms-transition: background .6s;
	  -o-transition: background .6s;
	  transition: background .6s;
	}
	section#news .right-side a:before {
		content:'';
		position:absolute;
		left:-71px;
		margin-top:30px;
		height:30px;
		width:30px;
		border-radius:30px;
		background:#d3d3d3;
		z-index:1;
	}
	section#news .right-side a:hover:before {
		background:#fedd32;
	}
	section#news .right-side a:before {
	  -webkit-transition: background .6s;
	  -moz-transition: background .6s;
	  -ms-transition: background .6s;
	  -o-transition: background .6s;
	  transition: background .6s;
	}	
	section#news .left-side:after {
		content:'';
		position:absolute;
		top:0;
		right:0;
		height:375px;
		width:2px;
		background:#d3d3d3;
		z-index:0;
	}
}

/*----------------------------------------------------------------
 * 
 * 	Social section
 * 
 -----------------------------------------------------------------*/

section#social {
	text-align:center;
	background:white;
}
section#social .container {
	padding-top:0;
}
section#social a {
	-webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
section#social a:hover {
	opacity:0.6;
}

/*----------------------------------------------------------------
 * 
 * 	Career section
 * 
 -----------------------------------------------------------------*/

section#career {
	text-align:center;
	background:#fffbe5;
}

/*----------------------------------------------------------------
 * 
 * 	Footer section
 * 
 -----------------------------------------------------------------*/

section#footer {
	background:#1f1f1f;
	color:#acacac;
}
section#footer a {
	color:#acacac;
	font-weight:normal;
}
section#footer ul {
	list-style-type:none;
	color:white;
	font-weight:500;
	margin-right:40px;
}
section#footer button {
	margin-right:15px;
}
section#footer .copyright {
	background:#131313;
}
section#footer .copyright strong {
	color:white;
}
section#footer .copyright a {
	font-weight:500;
	color:white;
}
@media (min-width:768px) {
	section#footer .copyright {
		margin-top:60px;
	}
}

/*----------------------------------------------------------------
 * 
 * 	Request form
 * 
 -----------------------------------------------------------------*/

label.error {
	position: absolute;
	left: 0;
	bottom: -25px;
}
.form-group {
	margin-bottom:30px;
	position:relative;
}

/*----------------------------------------------------------------
 * 
 * 	Privacy/Terms pages
 * 
 -----------------------------------------------------------------*/
 
body.privacy-terms {
    padding-top:125px;
}
body.privacy-terms h1 {
    margin-bottom:30px;
}
body.privacy-terms section#footer {
    margin-top:60px;
}
