<div class="whitebox">
  <div class="whitebox-header">
    <h2><i class="fa fa-bell"></i> Notifications</h2>
  </div>

  <div class="whitebox-body">
    <div class="media padding-bg" ng-repeat="notification in all_notifications_view_list">
      <a class="pull-left" href="{{notification.subject_url}}">
        <img class="media-object" src="/pg/image/{{notification.subject.icon_guid}}?w=75&h=75" alt="...">
      </a>
      <div class="media-body">
        <div class="row">
          <div class="col-md-10">
            <h3 class="media-heading">
              <a href="{{notification.subject_url}}">
                {{notification.subject.first_name}} {{notification.subject.last_name}}
              </a>
              {{notification.verb}}
              <span ng-if="notification.verb == 'followed'">you</span> 
              <span ng-if="notification.verb != 'followed'">
                <a href="{{notification.object_url}}">{{notification.object.title}}</a>
              </span> 
            </h3>

            <starrating ng-if="notification.verb == 'rated'" stars="notification.notification_payload.idea_rating"></starrating>

            <a href="{{notification.object_url}}">
              <img class="media-object" src="/pg/image/{{notification.object.icon_guid}}?w=50&h=50" alt="...">
            </a>
          </div>
          <div class="col-md-2">
            <p>{{notification.time_created | date: 'medium'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- //.whitebox-body-->
</div>


