<button type="button" class="btn btn-default btn-cheer" ng-click="toggleCheer()"
        ng-style="custom_style">
  <style>.red{color:red;}</style><!--I want to vomit-->
  <span class="glyphicon glyphicon-heart" ng-class="{red: is_user_cheering_idea}"></span>
  <span class="glyph-text" ng-if="is_user_cheering_idea">
  	{{cheeredText}}
  </span>
  <span class="glyph-text" ng-if="!is_user_cheering_idea">
  	{{cheerItText}}
  </span> 
</button>
