<form id="idea-edit-form" action="/services/api/rest/json/?method=ideas.edit" class="fileupload"
      method="POST" enctype="multipart/form-data" ng-cloak>
  <div>
    <!-- this is the image selecting box that floats to the left-->
    <div class="col-md-3">
      <div class="row">
        <div id="upload-box" class="col-md-12 whitebox">
          <div id="uploads-carousel" class="carousel slide" style="padding-bottom: 15px; padding-top: 15px"
               data-ride="carousel" data-interval="false" data-wrap="false" data-slide-to="2">
            <!-- list of 3 items. These all have a border-top of 0px -->
            <div class="carousel-inner" style="border-top: 0px">
              <div id="idea-icon-carousel-div" class="item active" style="border-top: 0">
                <label>Icon (Recommended)</label>
                <imageupload show-idea-icon="true" input-id="icon-file-input" 
                             ng-controller="IconController"
                             input-name="idea_icon"></imageupload>
              </div>
              <div id="images-icon-carousel-div" class="item" style="border-top: 0">
                <label>Upload Images (Optional)</label>
                <imageupload multiple-input show-image-list="true" 
                             ng-controller="IconController" 
                             input-id="images-file-input" 
                             input-name="idea_images[]"></imageupload>
              </div>
              <div id="stakeholder-icon-carousel-div" class="item" style="border-top: 0">
                <label>Stakeholder Icon (Required)</label>
                  <!-- stakeholder_nonce is disgusting. It's what we have to do to keep track of the "new" stakeholder_id.
                  It let's us determine which stakeholder is the most recent, so we hide all the rest-->
                  <div class="fileupload-buttonbar stakeholder-fileupload ng-class: {hidden: stakeholder_nonce != stakeholder_id};" 
                       ng-repeat="stakeholder_id in stakeholder_icon_div_ids"
                       ng-controller="IconController"
                       data-file-upload="options">
                  <div id="icon-preview-div" class="icon-avator" style="margin-bottom: 0">
                    <img src="/mod/profile/graphics/defaultlarge.gif" class="avator" style="max-height: 100px">
                  </div>
                  <span class="button-action" style="margin-top: 20px">
                    <button type="button" class="btn btn-default fileinput-button">
                      <span class="glyphicon glyphicon-plus"></span> Browse
                      <input type="file" accept="image/*" data-stakeholder-id="{{stakeholder_id}}" name="stakeholder_icons[{{stakeholder_id}}]">
                    </button>
                  </span>
                  <span class="textline">or</span>
                  <span class="textline">Drag and Drop Image Here<br>(JPG, GIF, PNG)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 whitebox" style="margin-top: 20px">
          <div class="whitebox-header">
            <label>Have an existing AngelList or Crunchbase page?</label>
          </div>
          <div class="whitebox-body">
            <input type="url" class="form-control" placeholder="https://angel.co/miigle"
                   ng-model="scrape_url">
            <button type="button" class="btn btn-default btn-miigle" name="scrape-button" 
                    ng-click="scrape()">{{scrape_button_text}}</button>
            <img ng-class="{hidden: !scraping}" src="/mod/miigle_theme/graphics/ajax-loader.gif"> 
          </div>
        </div>
      </div>
    </div>

    <!-- this is the "main" box. I don't think this needs to be called questionaire anymore-->
    <div class="col-md-8 whitebox" id="questionnaire" style="margin-left: 20px">
      <!--I don't think this needs to be called FuelUXWizard anymore...-->
      <div id="FuelUXWizard" class="wizard step-content">
        <div id="steps-carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
          <!-- This is the header with the "[Title] Steps 1 . 2 . 3"-->
          <!-- these &nbsp's are disgusting-->
          <div id="steps-header">
            <div id="steps-indicators" class="steps pull-right">Steps &nbsp;&nbsp;&nbsp;
              <li ng-click="slideTo(0)">
                <a class="btn btn-default btn-round ng-class: {'btn-miigle': current_step == 0}">1</a>
              </li>
              &nbsp;&bull;&nbsp;
              <li ng-click="slideTo(1)">
                <a class="btn btn-default btn-round ng-class: {'btn-miigle': current_step == 1}">2</a>
              </li>
              <!--
              &nbsp;&bull;&nbsp;
              <li ng-click="slideTo(2)">
                <a class="btn btn-default btn-round ng-class: {'btn-miigle': current_step == 2}">3</a>
              </li>
              -->
            </div>
            <h3 id="steps-header-title" class="pull-left">Introduction</h3>
            <div>&nbsp;</div>
          </div>

          <!-- Wrapper for slides -->                 
          <div id="steps-body" class="carousel-inner" style="border-top: 0px">
            <!-- step 1 carousel -->
            <div class="item active">
              <div id="step-one-row" class="row step" data-header-text="Introduction">
                <div class="col-md-12">                    
                  <div class="row">
                    <div class="col-md-12">
                      <label>What are you posting? <span>(Select One)</span></label>
                      <div class="col-md-12">
                        <div class="row ideatype">
                          <div class="col-md-4" ng-repeat="(idea_type_int, idea_type) in idea_types">
                            <label for="type-{{idea_type | lowercase}}" class="btn btn-default btn-type" 
                            ng-class="{active: idea.type_int==idea_type_int}">{{idea_type}}</label>
                            <input type="radio" id="type-{{idea_type | lowercase}}" name="idea_type" class="idea-type"
                            value="{{idea_type_int}}" ng-model="idea.type_int">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row edit-group">
                    <div class="col-md-6">                        
                      <div class="form-group">
                        <label class="control-label" for="idea-title">Title (Required)
                          <small class="pull-right character-counter">
                            {{idea.title.length}}/50
                          </small>
                        </label>
                        <input id="idea-title" name="idea_title" class="form-control" placeholder="e.g. Miigle"
                        type="text" maxlength="50" ng-model="idea.title">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="idea-url" class="control-label">Website URL (Optional)</label>
                        <input id="idea-url" name="idea_url" class="form-control" placeholder="e.g. http://miigle.com"
                        type="url" ng-model="idea.website"> 
                      </div>
                    </div>
                  </div>

                  <div class="row edit-group">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="idea-category" class="control-label">Category (Required)</label>
                        <select id="idea-category" name="idea_category" class="form-control" ng-model="idea.category_int" 
                                ng-options="category.category_int as category.category_string for category in (ng_category_options_list | orderBy:'category_string')">
                          <!-- oh god that ng-options is horrible... basically I want a bunch of options like this
                          <option value="{{category_int}}">{{category_string}}</option> but either Angular sucks or I suck so it ends up
                          ugly as sin-->
                          <option value="">Choose Category</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="idea-location-input" class="control-label">Location (Required)</label>
                        <input id="idea-location-input" name="idea_location" class="typeahead form-control" 
                               type="text" placeholder="e.g. Los Angeles" ng-value="idea.location_dict.fqcn">
                      </div>
                    </div>
                  </div>

                  <div class="row edit-group">
                    <div class="col-md-6">
                      <div class="form-group women-founders">
                        <input type="checkbox" id="women_founders" name="women_founders"
                               ng-model="idea.women_founders">
                        <label for="women-founders" class="control-label">Founding team has one or more female members</label>
                      </div> 
                    </div>
                  </div>

                  <div class="row edit-group">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="idea-pitch" class="control-label">Micro Pitch (Required)
                          <small id="idea-pitch-character-count" class="character-counter pull-right">{{idea.pitch.length}}/140</small>
                        </label>
                        <textarea id="idea-pitch" name="idea_pitch" class="form-control" style="resize: none;" rows="2" maxlength="140"
                                  placeholder="If you had to describe the benefit of your {{(idea_types[idea.type_int] || 'Idea') | lowercase}} in one sentence, what would you say?"
                                  ng-model="idea.pitch"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row edit-group">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="idea-tags" class="control-label">Keyword Tags (Required)</label>
                        <span class="help-block">Type some tags in the input field, and separate them with enter, comma, or tab:</span>
                        <input id="idea-tags" class="tm-input tm-input-small form-control"
                               type="text" autocomplete="off" 
                               placeholder="{{(idea_types[idea.type_int] || 'Idea')}} Keyword Tags"
                               >
                        <!-- this hidden input is what gets populated by the tagmanager plugin -->
                        <input id="hidden-tags-list" name="idea_tags" ng-model="idea.tags_list" style="display: none;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- step 2 carousel -->
            <div class="item">
              <div id="step-two-row" class="row step" data-header-text="More Info">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="edit-group form-group">
                        <label for="idea-description" class="control-label">Full Description (Required)
                          <small class="pull-right character-counter">{{idea.description.length}}/{{description_max_length}}</small>
                        </label>
                        <textarea id="idea-description" name="idea_description" class="form-control" rows="5"
                                  placeholder="Enter a description of your {{(idea_types[idea.type_int] || 'Idea') | lowercase}} here..."
                                  ng-model="idea.description"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="edit-group form-group">
                        <label for="idea-foster-url" class="control-label">Foster URL <small>(a link to somewhere people can give you money)</small></label>
                        <input type="url" name="idea_foster_url" id="idea-foster-url" class="form-control"
                               ng-model="idea.foster_url" placeholder="e.g. http://kickstarter.com/project-id/project-name">
                      </div>
                    </div>
                  </div>
                  <div class="edit-group form-group">
                    <label for="idea-help-communities" class="form-label">{{idea.title}} needs help with</label>
                    <div class="row">
                      <div class="col-md-12" style="margin-bottom: 20px;">
                        <buttoncheckbox checked="idea_expertise_dict[expertise_int]" ng-repeat="(expertise_int, expertise) in expertise_dict" 
                                        active-class="'btn-miigle-light'"
                                        style="display: inline-block; margin-right: 5px; margin-top: 5px;"><span>{{expertise}}</span></buttoncheckbox>
                      </div>
                    </div>

                    <label for="idea-question" class="form-label">Question for the Community <span>(Optional)</span></label>
                    <div class="row">
                      <div class="col-md-6">
                        <select id="idea-question-community" name="idea_question_community" class="form-control pad-bottom"
                                ng-options="category.category_int as category.category_string for category in (ng_community_options_list | orderBy:'category_string')"
                                ng-model="idea.question_community_int">
                                <!-- again this ng-options is awful for the reasons I explain in id="idea-category"-->
                          <option value="">Who is this question for?</option>
                        </select>
                      </div>
                    </div>
                    <small class="pull-right">
                      {{idea.question.length}}/{{question_max_length}}
                    </small>
                    <!--ng-disabled is disgusting because either angular or I suck-->
                    <!--sometimes idea.question_community_int can be "", null, 0, or "0" and they should *all* disable it-->
                    <!-- throw in JavaScript's == vs === and you've got a nightmare. I tried to do it elegantly...-->
                    <textarea id="idea-question" name="idea_question" class="form-control" rows="5"
                              ng-disabled="idea.question_community_int.toString() == 0 || idea.question_community_int == null" 
                              ng-model="idea.question"
                              placeholder="Ask a question to the community about your {{(idea_types[idea.type_int] || 'Idea') | lowercase}}..."></textarea>
                  </div>
                </div>

                <!--Is this needed? IDK what this does. god I hate css-->
                <div class="clearfix visible-xs"></div>

                <div class="col-md-12">
                  <div class="edit-group">
                    <label for="idea-video">Video URLs <span>(Optional - <small>press the "+" button after entering a URL</small>)</span></label>
                    <div class="row">
                      <div id="video-url-list-div" class="col-md-12">
                        <!--video input-->
                        <div class="input-group">
                          <input id="add-video-url-input" name="add_video_url_input" class="form-control" placeholder="YouTube or Vimeo"
                                 type="url" autocomplete="off" ng-model="temp.video_url" ng-keyup="updateVideoPreview()"> 
                          <!--I tried a button here instead of an a, but bootstrap would not style it correctly-->
                          <a id="add-video-url-button" class="input-group-addon btn btn-default btn-miigle" ng-click="addVideoURL()">
                            <i class="fa fa-lg fa-plus"></i>
                          </a>
                        </div>

                        <!--preview video-->
                        <div ng-if="preview_video_dict.show_video_preview">
                          <br/>
                          <embedvideo videoid="{{preview_video_dict.video_id}}" videotype="{{preview_video_dict.video_type}}" videowidth="100"></embedvideo>
                        </div>

                        <!--video list-->
                        <div ng-repeat="(i, video_dict) in idea.videos_list">
                          <br/>
                          <embedvideo videoid="{{video_dict.video_id}}" videotype="{{video_dict.video_type}}" videowidth="100"></embedvideo>
                          <button type="button" class="close" aria-hidden="true"
                                  ng-click="removeVideoURL(i)">&times;</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- step 3 carousel -->
            <div class="item">
              <div id="step-three-row" class="row step" data-header-text="Stakeholders">
                <div class="col-md-12">
                  <div class="row edit-group">
                    <div class="col-md-12">
                      <label><span>Enter the names of Founders, Team Members, Investors, Mentors</span></label>
                    </div>
                  </div>

                  <!-- we put all of this into $scope.temp so it doesn't clutter idea.stakeholders_dict or some such nonsense.
                  when we are ready, we copy it out of $scope.temp-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="edit-group form-group">
                        <label class="control-label" for="stakeholder-first-name-input">First Name</label>
                        <input id="stakeholder-first-name-input" name="stakeholder_first_name_input" class="form-control stakeholder-input" placeholder="John"
                        type="text" ng-model="temp.stakeholder_first_name">
                      </div>
                    </div>  
                    <div class="col-md-6">
                      <div class="edit-group form-group">
                        <label class="control-label" for="stakeholder-last-name-input">Last Name</label>
                        <input id="stakeholder-last-name-input" name="stakeholder_last_name_input" class="form-control stakeholder-input" placeholder="Doe"
                        type="text" ng-model="temp.stakeholder_last_name"> 
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="edit-group form-group">
                        <label class="control-label" for="stakeholder-role-input">{{idea_type}} Role</label>
                        <input id="stakeholder-role-input" name="stakeholder_role_input" class="form-control stakeholder-input" 
                        type="text" placeholder="e.g. Founder, Developer, Designer" ng-model="temp.stakeholder_role">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="edit-group form-group">
                        <label class="control-label" for="stakeholder-linkedin-url-input">LinkedIn URL (Optional)</label>
                        <input id="stakeholder-linkedin-url-input" name="stakeholder_linkedin_input" class="form-control stakeholder-input"
                        type="url" placeholder="www.linkedin.com/in/johndoe" ng-model="temp.stakeholder_linkedin_url">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pull-right">
                      <button id="add-stakeholder-button" type="button" class="btn btn-default btn-miigle pull-right"
                      ng-click="addStakeholder()">Add Stakeholder</button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3" ng-repeat="(stakeholder_id, stakeholder) in idea.stakeholders_dict">
                      <div class="startup-role thumbnail" style="width: 100%">
                        <button type="button" class="close" aria-hidden="true"
                                ng-click="deleteStakeholder(stakeholder_id)">&times;</button>
                        <div class="padding"></div>
                        <div class="icon-avator" style="margin-bottom: 0" id="{{stakeholder_id}}" ng-controller="CardController">
                          <img src="/pg/image/{{stakeholder.icon_guid}}" alt="..." class="avator" style="max-height: 100px">
                        </div>

                        <div class="caption">
                          <h4 id="stakeholder-full-name">{{stakeholder.first_name}} {{stakeholder.last_name}}</h4>
                          <p id="stakeholder-role">{{stakeholder.role}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- submit button and stuff -->
          <div id="steps-footer" class="page-footer">
            <div id="progress-bar" class="hidden progress progress-striped active">
              <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

            <!-- yeah onclick is disgusting. whatever -->
            <button type="button" class="btn btn-link" onClick="window.history.back()">Cancel</button>

            <button id="submit-button" class="btn btn-default btn-miigle pull-right" ng-class="{hidden: current_step != 1}"
              type="button" ng-click="submitIdea()">
              {{submit_button_text}} <span class="glyphicon glyphicon-cloud-upload"></span>
            </button>
            <button id="next-step-button" class="btn btn-default btn-miigle pull-right" ng-class="{hidden: current_step == 1}"
                    type="button" ng-click="nextStep()">Next Step
              <span id="next-step-arrow" class="glyphicon glyphicon-arrow-right"></span>
            </button>
            <span class="pull-right">&nbsp;</span>
            <button id="prev-step-button" ng-class="{hidden: current_step == 0}" class="pull-right pad-right btn btn-default"
                    type="button" ng-click="prevStep()">
              <span class="glyphicon glyphicon-arrow-left"></span> Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
