<div id="view-social-graph">

  <div class="row">
      <div class="col-md-3">
      <div class="conditional-affix">
        <div id="persona" class="bg-leftCol">
          <ul class="dropdown-search" role="menu" id="cat">
            <li role="category" class="dropdown-list dropdown-header active">
              <a>Personas</a>
            </li>
            <li role="category" class="dropdown-list" ng-repeat="persona_filter in persona_filters">
                <div ng-class="{'active' : persona_filter.checked}" style="padding: 5px 20px 5px 20px">
                  {{persona_filter.persona}}
                  
                  <!--<input class="pull-right" type="checkbox" ng-model="persona_filter.checked"/>-->
                
                  <div class="onoffswitch pull-right">
                      <input ng-model="persona_filter.checked" type="checkbox" id="{{persona_filter.persona}}" class="onoffswitch-checkbox" ng-class="{'active' : persona_filter.checked}">
                      <label class="onoffswitch-label" for="{{persona_filter.persona}}">
                          <div class="onoffswitch-inner"></div>
                          <div class="onoffswitch-switch"></div>
                      </label>
                  </div>
                </div>
            </li>
          </ul>
        </div>

        <div id="expertise" class="bg-leftCol">
          <ul class="dropdown-search" role="menu" id="cat">
            <li role="category" class="dropdown-list dropdown-header active">
              <a>Expertise</a>
            </li>
            <li role="category" class="dropdown-list" ng-repeat="expertise_filter in expertise_filters">
                <div ng-class="{'active' : expertise_filter.checked}" style="padding: 5px 20px 5px 20px">
                  {{expertise_filter.expertise}}
                  
                  <!--<input class="pull-right" type="checkbox" ng-model="expertise_filter.checked"/>-->
                  <div class="onoffswitch pull-right">
                      <input ng-model="expertise_filter.checked" type="checkbox" id="{{expertise_filter.expertise}}" class="onoffswitch-checkbox" ng-class="{'active' : expertise_filter.checked}">
                      <label class="onoffswitch-label" for="{{expertise_filter.expertise}}">
                          <div class="onoffswitch-inner"></div>
                          <div class="onoffswitch-switch"></div>
                      </label>
                  </div>
                </div>
            </li>
          </ul>
        </div>

        <div id="location" class="bg-leftCol">
          <ul class="dropdown-search" role="menu" id="loc">
            <li role="category" class="dropdown-list dropdown-header active">
              <a>Location</a>
            </li>
            <li class="padding-bg">
                <span ng-if="contributor_radius == 0">
                  Enter a location:
                </span>
                <span ng-if="contributor_radius > 0">
                  Find contributors within {{contributor_radius}} miles of...<br/>
                </span>
              <div class="form-group">
                <div ng-class="{'has-error': contributor_location === undefined && contributor_radius > 0}">
                  <input id="contributor-location-input" class="typeahead form-control" 
                         type="text" placeholder="e.g. Los Angeles">
                </div>        
              </div>   
              And a radius (miles):
              <div class="form-group">                           
                <input type="range" min="0" step="50" max="100" ng-model="contributor_radius"
                       style="width: 100%"/>  
                <div class="clearfix legend"></div> 
                <div class="row">
                  <div class="col-md-6">
                    0
                  </div>
                  <div class="col-md-6">
                    <span class="pull-right">100</span>
                  </div>
                </div>  
              </div>              
              <div class="form-group">      
                <button class="btn btn-default" ng-click="resetLocation()">Reset</button>
              </div>
            </li>
          </ul>
        </div>

        <div class="bg-leftCol hidden">
          <div class="page-header">
            <h4>Feature <a href="#collapse" data-toggle="collapse" data-target="#carousel-feature"></a></h4>
          </div>
          <div id="carousel-feature" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-feature" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-feature" data-slide-to="1"></li>
              <li data-target="#carousel-feature" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="" alt="video" width="100%"> 
              </div>
              <div class="item ">
                <img src="" alt="video" width="100%"> 
              </div>
              <div class="item ">
                <img src="" alt="video" width="100%"> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="bg">
         <div class="page-header" style="margin-bottom: 15px">
          <div class="row">   
            <div class="col-xs-12 col-sm-12 col-md-12">
              <img ng-src="/pg/image/{{idea.icon_guid}}?w=75&h=75" alt="{{idea.title}}" class="pull-left icon-startup">
              <a class="btn btn-default pull-right" href="#/idea/{{idea.guid}}/potential_contributors"
                 style="margin-top: 20px">
                <span class="glyphicon glyphicon-arrow-left"></span>
                &nbsp;Back to List
              </a>
              <h1>
                <a href="#/idea/{{idea.guid}}">
                  <strong>{{idea.title}}</strong>
                </a>
                - Potential Contributors

              </h1>
              <p>{{idea.location_dict.fqcn}}</p> 
            </div>
          </div>
        </div>
        <div class="bg-padding">
          <div ng-if="!potential_contributors_graph_loaded" id="loading-table">
            <div id="loading-cell">
                <div id="loading-balls">
                  <div class="ball"></div>
                  <div class="ball"></div>
                  <div class="ball"></div>
                  <div class="ball"></div>
                  <div class="ball"></div>
                  <div class="ball"></div>
                  <div class="ball"></div>
                </div>
            </div>
          </div>
          <div ng-hide="!potential_contributors_graph_loaded" id="putsvghere"></div>
        </div>
      </div>
    </div>
  </div>
</div>
