<div ng-cloak id="idea-view" ng-init="ViewSpecificInit()">
  <!--invisible-->
  <div id="rating-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Ratings Submission</h4>
        </div>
        <div class="modal-body">
          <h4>Impact</h4> - <p>What impact could {{idea.title}} have on the world? <span class="pull-right">{{idea_rating.impact}}/10</span></p>
          <input type="range" min="1" max="10" ng-model="idea_rating.impact"/>
          <br/>
          <br/>

          <h4>Originality</h4> - <p>How original is {{idea.title}}'s concept? <span class="pull-right">{{idea_rating.originality}}/10</span></p>
          <input type="range" min="1" max="10" ng-model="idea_rating.originality"/>
          <br/>
          <br/>

          <h4>Monetizable</h4> - <p>Does {{idea.title}} have revenue generating potential? <span class="pull-right">{{idea_rating.monetizable}}/10</span></p>
          <input type="range" min="1" max="10" ng-model="idea_rating.monetizable"/>
          <br/>
          <br/>

          <h4>Green</h4> - <p>Does {{idea.title}} have a social or ecological potential? <span class="pull-right">{{idea_rating.green}}/10</span></p>
          <input type="range" min="1" max="10" ng-model="idea_rating.green"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default btn-miigle" data-dismiss="modal" ng-click="submitRating()">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!--invisible-->

  <style>
    #rating-modal input[type="range"] {
      width: 100%;
    }

    #rating-modal h4 {
      font-weight: bold;
      display: inline;
    }
    #rating-modal p {
      display: inline;
    }
    .rated-star {
      color: gold;
    }
  </style>

  <div class="row">
    <div class="col-md-9">
      <div class="bg" id="startup">
        <div class="page-header">
          <div class="row">   
            <div class="col-xs-12 col-sm-6 col-md-7">
              <img ng-src="/pg/image/{{idea.icon_guid}}?w=75&h=75" alt="{{idea.title}}" class="pull-left icon-startup">
              <h1><strong>{{idea.title}}</strong></h1>
              <p>{{idea.location_dict.fqcn}}</p> 
              <p>{{idea.time_created | date: 'medium'}} by <a href="#/user/{{idea_owner.username}}">{{idea_owner.first_name}} {{idea_owner.last_name}}</a></p>

              <starrating stars="5*idea.total_rating_points/(40*idea.rating_count || 1)"></starrating>
              ({{idea.rating_count}})
            </div>
            <div class="col-xs-6 col-md-5">
              <span class="icon-action pull-right">
                <a ng-if="idea.website" href="{{idea.website}}" target="_blank">
                  <span class="glyphicon glyphicon-globe"></span> Website
                </a>
                <a href="#/idea/{{idea.guid}}/edit" ng-if="viewing_user_is_owner">
                  <span class="glyphicon glyphicon-edit"></span> Edit
                </a>
                <a href="_blank" ng-if="viewing_user_is_owner" ng-click="deleteIdea($event)">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
              </span>
              <div class="clearfix"></div>
              <span class="button-action pull-right">
                <button type="button" class="btn btn-default btn-rate" ng-click="rateIdea()">
                  <span ng-class="{'rated-star': has_user_rated_idea}" class="glyphicon glyphicon-star"></span>
                  <span class="glyph-text" ng-if="!has_user_rated_idea">
                    Rate it!
                  </span>
                  <span class="glyph-text" ng-if="has_user_rated_idea">
                    Rated 
                  </span>
                </button>
                <cheerbutton idea-guid="idea.guid" initial-callback="toggleCheer" success-callback="updateIdea"
                             cheer-it-text="'Cheer it!'" cheered-text="'Cheered'">
                </cheerbutton>
                <a ng-if="idea.foster_url" href="{{idea.foster_url}}" class="btn btn-default btn-foster" target="_blank">
                   <span class="fa fa-usd"></span>
                   <span class="glyph-text">Foster it!</span>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div>
          <h3>{{idea.type}} Description</h3>
          <p class="description" ng-bind-html="idea.description | newlines"></p>
        </div>
        <div class="tags">
          <strong>Tags:</strong>
          <button ng-repeat="tag in idea.tags_list" class="btn btn-default btn-xs">{{tag}}</button>
        </div>
        <div class="videoBox" ng-if="idea.videos_list.length > 0">
          <!-- || Carousel || -->
          <div id="carousel-video" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-video" data-slide-to="{{i}}" class="ng-class: {active: i == 0}"
                  ng-repeat="(i, video_dict) in idea.videos_list"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item ng-class: {active: i == 0}" ng-repeat="(i, video_dict) in idea.videos_list">
                <embedvideo videotype="{{video_dict.video_type}}" videoid="{{video_dict.video_id}}"></embedvideo>
              </div>
            </div>

            <!-- Controls -->
            <div ng-if="idea.videos_list.length > 1">
              <a class="carousel-control" href="_blank" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" ng-click="slideIt($event, '#carousel-video')"></span>
              </a>
              <a class="right carousel-control" href="_blank" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" ng-click="slideIt($event, '#carousel-video')"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="imageBox" ng-hide="idea.image_urls_list.length == 0">
          <!-- || Carousel || -->
          <div id="carousel-image" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-image" data-slide-to="i" class="ng-class: {active: i == 0}"
                  ng-repeat="(i, image_guid_block) in idea.image_guid_blocks"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item ng-class: {active: i == 0}" ng-repeat="(i, image_guid_block) in idea.image_guid_blocks">
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <td ng-repeat="(j, image_guid) in image_guid_block">
                        <a href="/pg/image/{{image_guid}}" data-lightbox="idea-images-lightbox">
                          <img src="/pg/image/{{image_guid}}" style="border-radius: 3px;" class="idea-image">
                        </a>
                      </td><!-- ng-repeat-->
                    </tr>
                  </table>
                </div>  
              </div><!--ng-repeat-->
            </div>

            <!-- Controls -->
            <div ng-if="idea.image_guid_blocks.length > 1">
              <a class="left carousel-control" href="_blank" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" ng-click="slideIt($event, '#carousel-image')"></span>
              </a>
              <a class="right carousel-control" href="_blank" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" ng-click="slideIt($event, '#carousel-image')"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- || Stakeholders || -->
      <div class="bg" id="stakeholders" ng-hide="!idea.has_stakeholders">
        <div class="page-header">
          <h3>Stakeholders <small>(Founders, Team Members, Investors, Mentors)</small></h3>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3" ng-repeat="(stakeholder_id, stakeholder_dict) in idea.stakeholders_dict"
               style="margin-top: 15px">
            <img ng-src="/pg/image/{{stakeholder_dict.icon_guid}}?w=50&h=50" alt="" class="avator pull-left">
            <p>
              <a href="{{stakeholder_dict.url}}">
                <strong>{{stakeholder_dict.first_name}} {{stakeholder_dict.last_name}}</strong>
              </a><br />
              {{stakeholder_dict.role}}
            </p>
          </div>
        </div>
      </div>

      <!-- || Followers || -->
      <div class="bg" id="followers">
        <div class="page-header">
          <h3>Cheers <small>({{num_cheering}})</small></h3>
        </div>
        <span ng-if="num_cheering > 0">
          <a href="#/user/{{cheering_dict.username}}" ng-repeat="cheering_dict in cheering_users_dict">
            <img src="/pg/image/{{cheering_dict.icon_guid}}?h=50&w=50" class="avator">
          </a>
        </span>
        <cheerbutton ng-if="num_cheering == 0" idea-guid="idea.guid" 
                     initial-callback="toggleCheer" success-callback="updateIdea"
                     cheer-it-text="'Be the first!'">
        </cheerbutton>
      </div>

      <!-- || Question to the Community || -->
      <div class="bg" id="qtocommunity" ng-hide="idea.question_community_int == 0">
        <div class="page-header">
          <h3>Question to the Community <button type="button" class="btn btn-default pull-right {{idea_question_community_class}}">{{idea_question_community}}</button></h3>
        </div>
        <div class="well well-sm {{idea_question_community_class}}">
          <p>{{idea.question}}</p>
        </div>     

        <!-- || Comments || -->
        <div id="comments" class="hidden">
          <div class="row">
            <div class="col-md-12">
              <img src="/pg/image/0?w=50&h=50" alt="" class="avator pull-left">
              <div class="commentTxt">
                <textarea class="form-control" rows="3" placeholder="Leave a message..."></textarea>
                <br>
                <a data-placement="bottom" class="btn btn-default btn-miigle" href="#">Post Comment</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                <h4>1 Comments Left</h4>
              </div>

              <img src="/pg/image/0?w=50&h=50" alt="" class="avator pull-left">
              <div class="commentTxt">
                <p><strong><a href="#">Dave Johnson</a></strong> says:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <span class="icon-action">
                  3 hours ago
                  &nbsp;&nbsp;|
                  <a>
                    <span class="glyphicon glyphicon-flag"></span> Flag
                  </a>
                  &nbsp;&nbsp;|
                  <a>
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                  </a>
                  &nbsp;&nbsp;|
                  <a>
                    <span class="glyphicon glyphicon-remove"></span> Delete 
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          function InitDisqus(disqus_title) {
              window.disqus_url = window.location.href.replace(/#.*/, '').replace(/\/$/, '') + '/' + window.location.hash.replace(/#/, 'hash');
              window.disqus_title = disqus_title;
              window.disqus_shortname = (window.location.hostname === 'miigle.com') ? 'miigle' : 'miigletesting'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          }
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <div class="col-md-3">
      <div id="contributors" class="bg-rightCol"> 
        <div class="whitebox-header">
          <strong>Potential Contributors</strong>
        </div>
        <div class="padding-bg">
          <div ng-if="potential_contributors_list_loaded"
               ng-repeat="potential_contributor in potential_contributors_list | limitTo:5" 
               style="padding-bottom: 10px">
            <div class="media">
              <a href="#/user/{{potential_contributor.username}}" class="pull-left">
                <img src="/pg/image/{{potential_contributor.icon_guid}}?h=50&w=50" class="media-object" style="border-radius: 3px">
              </a>
              <div class="media-body">
                <div style="display: inline-block; vertical-align: middle">
                  <a href="#/user/{{potential_contributor.username}}" style="display: block;">
                    {{potential_contributor.first_name}} {{potential_contributor.last_name}}
                  </a>
                  <!--FUCK CSS-->
                  <span style="font-size: 12px">
                    <span style="display: block;">{{potential_contributor.work_info_dict.current_title}}</span>
                    <span ng-if="potential_contributor.work_info_dict.current_employer">
                      <a href="{{potential_contributor.work_info_dict.current_employer_website}}" target="_blank">{{potential_contributor.work_info_dict.current_employer}}</a>
                    </span>
                  </span>
                  <!--FUCK CSS-->
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!potential_contributors_list_loaded">
            Loading...
          </div>
        </div>
        <div class="whitebox-footer">
          <a href="#/idea/{{idea.guid}}/potential_contributors">
            View All
          </a>
        </div>
      </div>
      <div class="bg-rightCol"> 
        <div class="whitebox-header">
          <strong>Share {{idea.title}}</strong>
        </div>
        <div class="padding-bg">
          <emailshare ng-controller="IdeaEmailShareController" body-generator="GenerateEmailBody" subject-generator="GenerateEmailSubject"></emailshare>
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="">
              &nbsp;
              <div style="height: 2px; background-color: #ccc; text-align: center">
                <span class="text-muted" style="background-color: white; position: relative; top: -0.7em;">
                  &nbsp;or&nbsp;
                </span>
              </div>
              &nbsp;
            </div>
          </div>
          <twittershare ng-controller="IdeaTwitterShareController" tweet-generator="GenerateTweet" startup-name="idea.title"></twittershare>
        </div>
      </div>
    </div>
  </div>
</div>
